<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giỏ hàng</title>
    <link rel="stylesheet" href="../css/cart.css">
    <link rel="stylesheet" href="../icons/themify-icons-font/themify-icons/themify-icons.css">
</head>
<body>
    <div id="header">
        <div class="logo">
            <img src="../img/ginlogo2.png" alt="">
        </div>
        <center>
            <ul id="nav">
                    <li><a href="homepage.htm">HOME</a></li>
                    <li><a  href="product.htm">TOP</a>
                        <ul class="subnav">
                            <li><a href="">T-SHIRTS</a></li>
                            <li><a href="">POLO</a></li>
                            <li><a href="">SHIRTS</a></li>
                            <li><a href="">SWEATERS</a></li>
                            <li><a href="">HOODIES</a></li>
                            <li><a href="">JACKETS</a></li>
                        </ul>
                    </li>
                    <li><a href="">BOTTOM</a>
                        <ul class="subnav">
                            <li><a href="">SHORTS</a></li>
                            <li><a href="">PANTS</a></li>
                            <li><a href="">SWEATERPANTS</a></li>
                        </ul>               
                    </li>
                    <li><a href="">SALE</a></li>
                    <li><a href="">ACCESSORIES</a></li>
                    <li><a href="">ABOUT US</a></li>
                </ul>  
                
            <!-- btn -->
            <div class="search-btn">
                <i class="search-icon ti-search"></i>             
            </div> 
            <div class="log">
                <a href="register.htm">
                    <i class="log-icon ti-user"></i>
                </a>              
            </div>
            <div class="cart">
                <a href="cart.htm">
                    <i class="cart-icon ti-shopping-cart"></i>
                </a>       
            </div>
            
        </center>
    </div>    

    <div class="container">
        <div class="title">Giỏ hàng của bạn</div>
        <div class="list-product">
            <!-- 1 -->
            <div class="row">
                <div class="product_info">
                    <a href="">
                        <img width="100%" src="../img/hoodie1.jpg" alt="">
                    </a>
                    <div class="desc">
                        <h2><a href="">Essential<span style="color: white;">.</span>Hoodie</a></h2>
                        <div class="size">Size: L</div>
                        <div class="price" >570.000đ</div>
                    </div>
                </div>
                <div class="action">
                    <div class="solg_sp">
                        <button type="button" data-type="tru" class="btn-tru">-</button>
                        <input type="text" data-price="570000" value="2" name="" class="input_solg">
                        <button type="button" data-type="cong" class="btn-cong">+</button>
                    </div>
                    <div class="total_1sp">570.000đ</div>
                    <div type="button" class="btn-xoa" type="button">
                        <i class="trash ti-trash"></i>
                    </div>
                </div>
            </div>

            <!-- 2 -->
            <div class="row">
                <div class="product_info">
                    <a href="">
                        <img width="100%" src="../img/shirt3.jpg" alt="">
                    </a>
                    <div class="desc">
                        <h2><a href="">Essential<span style="color: white;">.</span>Polo</a></h2>
                        <div class="size">Size: M</div>
                        <div class="price">370.000đ</div>
                    </div>
                </div>
                <div class="action">
                    <div class="solg_sp">
                        <button type="button" data-type="tru" class="btn-tru">-</button>
                        <input type="text" data-price="370000" value="1" name="" class="input_solg">
                        <button type="button" data-type="cong" class="btn-cong">+</button>
                    </div>
                    <div class="total_1sp">370.000đ</div>
                    <div type="button" class="btn-xoa" type="button">
                        <i class="trash ti-trash"></i>
                    </div>
                </div>
            </div>

            <!-- 3 -->
            <div class="row">
                <div class="product_info">
                    <a href="">
                        <img width="100%" src="../img/shirt1.jpg" alt="">
                    </a>
                    <div class="desc">
                        <h2><a href="detail.htm">Tyler<span style="color: white;">.</span>Polo</a></h2>
                        <div class="size">Size: M</div>
                        <div class="price">530.000đ</div>
                    </div>
                </div>
                <div class="action">
                    <div class="solg_sp">
                        <button type="button" data-type="tru" class="btn-tru">-</button>
                        <input type="text" data-price="530000" value="3" name="" class="input_solg">
                        <button type="button" data-type="cong" class="btn-cong">+</button>
                    </div>
                    <div class="total_1sp">530.000đ</div>
                    <div type="button" class="btn-xoa" type="button">
                        <i class="trash ti-trash"></i>
                    </div>
                </div>
            </div>

            <!-- 4 -->
            <div class="row">
                <div class="product_info">
                    <a href="">
                        <img width="100%" src="../img/sw1.jpg" alt="">
                    </a>
                    <div class="desc">
                        <h2><a href="">Land<span style="color: white;">.</span>Sweater</a></h2>
                        <div class="size">Size: L</div>
                        <div class="price">550.000đ</div>
                    </div>
                </div>
                <div class="action">
                    <div class="solg_sp">
                        <button type="button" data-type="tru" class="btn-tru">-</button>
                        <input type="text" data-price="550000" value="1" name="" class="input_solg">
                        <button type="button" data-type="cong" class="btn-cong">+</button>
                    </div>
                    <div class="total_1sp">550.000đ</div>
                    <div type="button" class="btn-xoa" type="button">
                        <i class="trash ti-trash"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="total_price">
        <span>Tổng tiền</span> <span id="total">2.020.000đ</span>
    </div>
    <button class="pay">Thanh toán</button>

    <footer>      
        <div class="footer-logo">
            <img src="../img/ginlogo2.png" alt="">
        </div>
        <div class="info-company">
            <div class="name-company">
                Gin Studio
            </div>
            <div class="address">
                Địa chỉ: Phú Diễn, Bắc Từ Liêm, Hà Nội
            </div>
            <div class="phone">
                Sđt: 0123456789
            </div>
            <div class="email">
                Email: ginstudio@gmail.com
            </div>
            <div class="contract-icons">
                <a href="https://www.instagram.com/__.gck.__/">
                    <i class="insta-icon ti-instagram"></i>
                </a>
                <i class="fb-icon ti-facebook"></i>
                <i class="tw-icon ti-twitter-alt"></i>
            </div>
        </div>
        <div class="content-footer">
            <div class="menu-footer">
                <ul>
                    <li>INFORMATION</li>
                    <li>
                        <a href="">About Us</a>
                    </li>
                    <li>
                        <a href="">Term of Use</a>
                    </li>
                </ul>
                <ul>
                    <li>support</li>
                    <li>
                        <a href="">Contract us</a>
                    </li>
                    <li>
                        <a href="">Help</a>
                    </li>
                </ul>
            </div>
        </div>   
    </footer>

    
    <script src="../js/jquery-3.6.1.min.js"></script>
    <script src="../js/cart.js"></script>
</body>
</html>