<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh mục sản phẩm</title>
    <link rel="stylesheet" href="../css/product.css">
    <link rel="stylesheet" href="../icons/themify-icons-font/themify-icons/themify-icons.css">
</head>
<body>
    <div id="header">
        <div class="logo">
            <img src="../img/ginlogo2.png" alt="">
        </div>
        <center>
            <ul id="nav">
                    <li><a href="homepage.htm">HOME</a></li>
                    <li><a  href="product.htm">TOP</a>
                        <ul class="subnav">
                            <li><a href="">T-SHIRTS</a></li>
                            <li><a href="">POLO</a></li>
                            <li><a href="">SHIRTS</a></li>
                            <li><a href="">SWEATERS</a></li>
                            <li><a href="">HOODIES</a></li>
                            <li><a href="">JACKETS</a></li>
                        </ul>
                    </li>
                    <li><a href="">BOTTOM</a>
                        <ul class="subnav">
                            <li><a href="">SHORTS</a></li>
                            <li><a href="">PANTS</a></li>
                            <li><a href="">SWEATERPANTS</a></li>
                        </ul>               
                    </li>
                    <li><a href="">SALE</a></li>
                    <li><a href="">ACCESSORIES</a></li>
                    <li><a href="">ABOUT US</a></li>
                </ul>  
                
            <!-- btn -->
            <div class="search-btn">
                <i class="search-icon ti-search"></i>             
            </div> 
            <div class="log">
                <a href="register.htm">
                    <i class="log-icon ti-user"></i>
                </a>
            </div>
            <div class="cart">
                <i class="cart-icon ti-shopping-cart"></i>
            </div>
            
        </center>
    </div>   
    
    <main>
        <div class="breadrum">
            <ol>
                <li>
                    <a href="homepage.htm">Home</a>
                </li>
                <li>
                    <a class="now-page" href="product.htm">Top</a>
                </li>
            </ol>
        </div>
        <div class="container">
            <div class="content">
                    <ul class="list">
                        <h4>Filter</h4>
                        <li>
                            <a href="">T-Shirt</a>
                        </li>
                        <li>
                            <a href="">Polo</a>
                        </li>
                        <li>
                            <a href="">Sweaters</a>
                        </li>
                        <li>
                            <a href="">Hoodies</a>
                        </li>
                        <li>
                            <a href="">Jacket</a>
                        </li>
                    </ul>
    
                    <ul class="filter">
                        <h4>Giá</h4>
                        <li>
                            <input type="checkbox" name="price" id="price1">
                            <label for="price1">200.000đ - 300.000đ</label>
                        </li>
                        <li>
                            <input type="checkbox" name="price" id="price2">
                            <label for="price2">300.000đ - 400.000đ</label>
                        </li>
                        <li>
                            <input type="checkbox" name="price" id="price3">
                            <label for="price3">400.000đ - 500.000đ</label>
                        </li>
                        <li>
                            <input type="checkbox" name="price" id="price4">
                            <label for="price4">500.000đ - 1.000.000đ</label>
                        </li>
                    </ul>
            </div>
        </div>        
        
        <div class="products-list"> 
            <div class="products">
                <!-- <h1 class="category-name">Top</h1>       -->
            <div class="items">
                <div class="products-info">
                    <center>
                        <a class="img" href="detail.htm">
                            <img src="../img/shirt1.jpg" alt="">
                        </a>
                    </center>
                    <div class="detail">
                        <h2>
                            <a href="">
                                Tyler Polo
                            </a>
                        </h2>
                        <div class="price">
                            530.000đ
                        </div>
                    </div>
                </div>
            </div>
            <div class="items">
                <div class="products-info">
                    <center>       
                        <a class="img" href="">
                            <img src="../img/shirt2.jpg" alt="">
                        </a>
                    </center>
                    <div class="detail">
                        <h2>
                            <a href="">
                                Leonardo Polo
                            </a>
                        </h2>
                        <div class="price">
                            530.000đ
                        </div>
        
                    </div>
                </div>
            </div>
            <div class="items">
                <div class="products-info">
                    <center>
                        <a class="img" href="">
                            <img src="../img/shirt4.jpg" alt="">
                        </a>
                    </center>
                    <div class="detail">
                        <h2>
                            <a href="">
                                Party Never End Tshirt
                            </a>
                        </h2>
                        <div class="price">
                            390.000đ
                        </div>
        
                    </div>
                </div>
            </div>
            <div class="items">
                <div class="products-info">
                    <center>
        
                        <a class="img" href="">
                            <img src="../img/hoodie1.jpg" alt="">
                        </a>
                    </center>
                        <div class="detail">
                            <h2>
                                <a href="">
                                    Essential Hoodie
                                </a>
                            </h2>
                            <div class="price">
                                570.000đ
                            </div>
                        </div>
                </div>
            </div>
            <div class="items">
                <div class="products-info">
                    <center>    
                        <a class="img" href="">
                            <img src="../img/hoodie2.jpg" alt="">
                        </a>
                    </center>
                        <div class="detail">
                            <h2>
                                <a href="">
                                    Basics Hoodie
                                </a>
                            </h2>
                            <div class="price">
                                570.000đ
                            </div>
                        </div>
                </div>
            </div>
            <div class="items">
                <div class="products-info">
                    <center>
        
                        <a class="img" href="">
                            <img src="../img/hoodie3.jpeg" alt="">
                        </a>
                    </center>
                        <div class="detail">
                            <h2>
                                <a href="">
                                    Vintage Logo Hoodie
                                </a>
                            </h2>
                            <div class="price">
                                570.000đ
                            </div>
                        </div>
                </div>
            </div>
            <div class="items">
                <div class="products-info">
                    <center>
        
                        <a class="img" href="">
                            <img src="../img/sw1.jpg" alt="">
                        </a>
                    </center>
                        <div class="detail">
                            <h2>
                                <a href="">
                                    Land Sweater
                                </a>
                            </h2>
                            <div class="price">
                                550.000đ
                            </div>
                        </div>
                </div>
            </div>
            <div class="items">
                <div class="products-info">
                    <center>
        
                        <a class="img" href="">
                            <img src="../img/sw2.jpg" alt="">
                        </a>
                    </center>
                        <div class="detail">
                            <h2>
                                <a href="">
                                    Vintage Logo Sweater
                                </a>
                            </h2>
                            <div class="price">
                                530.000đ
                            </div>
                        </div>
                </div>
            </div>
            <div class="items">
                <div class="products-info">
                    <center>
        
                        <a class="img" href="">
                            <img src="../img/sw3.jpg" alt="">
                        </a>
                    </center>
                        <div class="detail">
                            <h2>
                                <a href="">
                                    Welcome Washed Sweater
                                </a>
                            </h2>
                            <div class="price">
                                550.000đ
                            </div>
                        </div>
                </div>
            </div>          
            <div class="items">
                <div class="products-info">
                    <center>
        
                        <a class="img" href="">
                            <img src="../img/shirt3.jpg" alt="">
                        </a>
                    </center>
                        <div class="detail">
                            <h2>
                                <a href="">
                                    Essential Polo
                                </a>
                            </h2>
                            <div class="price">
                                390.000đ
                            </div>
                        </div>
                </div>
            </div>
            <div class="items">
                <div class="products-info">
                    <center>
        
                        <a class="img" href="">
                            <img src="../img/shirt5.jpg" alt="">
                        </a>
                    </center>
                    <div class="detail">
                        <h2>
                            <a href="">
                                Club Tshirt
                            </a>
                        </h2>
                        <div class="price">
                            410.000đ
                        </div>
        
                    </div>
                </div>
            </div>
            <div class="items">
                <div class="products-info">
                    <center>
        
                        <a class="img" href="">
                            <img src="../img/shirt66.jpg" alt="">
                        </a>
                    </center>
                    <div class="detail">
                        <h2>
                            <a href="">
                                Coban Linen Shirt
                            </a>
                        </h2>
                        <div class="price">
                            450.000đ
                        </div>
        
                    </div>
                </div>
            </div>
            <div class="items">
                <div class="products-info">
                    <center>
        
                        <a class="img" href="">
                            <img src="../img/vest1.jpg" alt="">
                        </a>
                    </center>
                    <div class="detail">
                        <h2>
                            <a href="">
                                Fishing Vest
                            </a>
                        </h2>
                        <div class="price">
                            690.000đ
                        </div>
        
                    </div>
                </div>
            </div>
            <div class="items">
                <div class="products-info">
                    <center>
        
                        <a class="img" href="">
                            <img src="../img/jk2.jpg" alt="">
                        </a>
                    </center>
                        <div class="detail">
                            <h2>
                                <a href="">
                                    Hooded Jacket
                                </a>
                            </h2>
                            <div class="price">
                                750.000đ
                            </div>
                        </div>
                </div>
            </div>
            <div class="items">
                <div class="products-info">
                    <center>
        
                        <a class="img" href="">
                            <img src="../img/jacket1.jpg" alt="">
                        </a>
                    </center>
                    <div class="detail">
                        <h2>
                            <a href="">
                                Grayscale Varsity Jacket
                            </a>
                        </h2>
                        <div class="price">
                            1.590.000đ
                        </div>      
                    </div>
                </div>
            </div>
            <div class="pagination">
                <ul>
                    
                    <li>
                        <a class="active" href="">1</a>
                    </li>
                    <li>
                        <a href="">2</a>
                    </li>
                    <li>
                        <a href="">3</a>
                    </li>
                    <li>
                        <a href="">4</a>
                    </li>
                    <li>
                        <a href="">Next</a>
                    </li>
                </ul>
            </div>
        </div>

    </main>

    <footer>      
        <div class="footer-logo">
            <img src="../img/ginlogo2.png" alt="">
        </div>
        <div class="info-company">
            <div class="name-company">
                Gin Studio
            </div>
            <div class="address">
                Địa chỉ: Mai Dịch, Cầu Giấy, Hà Nội
            </div>
            <div class="phone">
                Sđt: 0123456789
            </div>
            <div class="email">
                Email: ginstudio@gmail.com
            </div>
            <div class="contract-icons">
                <a href="https://www.instagram.com/__.gck.__/">
                    <i class="insta-icon ti-instagram"></i>
                </a>
                <i class="fb-icon ti-facebook"></i>
                <i class="tw-icon ti-twitter-alt"></i>
            </div>
        </div>
        <div class="content-footer">
            <div class="menu-footer">
                <ul>
                    <li>INFORMATION</li>
                    <li>
                        <a href="">About Us</a>
                    </li>
                    <li>
                        <a href="">Term of Use</a>
                    </li>
                </ul>
                <ul>
                    <li>support</li>
                    <li>
                        <a href="">Contract us</a>
                    </li>
                    <li>
                        <a href="">Help</a>
                    </li>
                </ul>
            </div>
        </div>   
    </footer>
</body>
</html>
    
</body>
</html>