<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký</title>
    <link rel="stylesheet" href="../css/register.css">
</head>
<body>
    <div class="form-register">
        <form action="">
            <h1>Đăng ký</h1>
            <div class="row">
                <label class="input">Họ và tên
                    <input type="text" placeholder="Họ và tên" name="name" >
                </label>
            </div>
            <div class="row">
                <label class="input">Email
                    <input type="email" placeholder="Email" name="email">
                </label>
            </div>
            <div class="row">
                <label class="input">Số điện thoại
                    <input type="text" placeholder="Số điện thoại" name="phone" >
                </label>
            </div>
            <div class="row">
                <label class="input">Giới tính <br>
                    <div class="gender">
                        <input type="radio" name="gender" value="nam"/> Nam 
                        <input type="radio" name="gender" value="nu"/> Nữ
                    </div>
                </label>
            </div>
            <div class="row"><label class="input">Mật khẩu
                <input type="password" placeholder="Mật khẩu" name="password">
            </label></div>
            <div class="row">
                <label class="input">Xác nhận mật khẩu
                    <input type="password" placeholder="Xác nhận mật khẩu" name="confirm">
                </label>
            </div>
            <div class="row"><section>
                <label class="checkbox">
                    <input type="checkbox" name="checkbox">I accept the <a href="" style="color:dodgerblue">Terms of Service & Privacy Policy</a> 
                </label>                   
            </section></div>
            <div class="btn">
                <button type="submit" class="button">Đăng ký</button>
            </div> 
            
        </form>
    </div>

    <footer>      
        <div class="footer-logo">
            <img src="../img/ginlogo2.png" alt="">
        </div>
        <div class="info-company">
            <div class="name-company">
                Gin Studio
            </div>
            <div class="address">
                Địa chỉ: Phú Diễn, Bắc Từ Liêm, Hà Nội
            </div>
            <div class="phone">
                Sđt: 0123456789
            </div>
            <div class="email">
                Email: ginstudio@gmail.com
            </div>
            <div class="contract-icons">
                <a href="https://www.instagram.com/__.gck.__/">
                    <i class="insta-icon ti-instagram"></i>
                </a>
                <i class="fb-icon ti-facebook"></i>
                <i class="tw-icon ti-twitter-alt"></i>
            </div>
        </div>
        <div class="content-footer">
            <div class="menu-footer">
                <ul>
                    <li>INFORMATION</li>
                    <li>
                        <a href="">About Us</a>
                    </li>
                    <li>
                        <a href="">Term of Use</a>
                    </li>
                </ul>
                <ul>
                    <li>support</li>
                    <li>
                        <a href="">Contract us</a>
                    </li>
                    <li>
                        <a href="">Help</a>
                    </li>
                </ul>
            </div>
        </div>   
    </footer>
    
</body>
</html>